.div-report {
    padding-top: 1vw;
    border-radius: 0px 40px 0px 40px;
    background-color:   rgb(51, 51, 51);
    margin: 0;
    margin-top: 25px;
    padding: 0;
    min-height: 30vw;
    height: auto;
    width: 100%;
    display: flex;
    color: white;
}

.div-left {
    width: 50%;
}

.div-right {
    width: 50%;
}

.input-review {
    font-family: 'Atma', sans-serif;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: 4.5vw;
    height: 4vw;
    width: 8vw;
    text-align: center; 
}

p {
    font-family: 'Atma', sans-serif;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 1vw;
}

textarea {
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    font-family: 'Atma', sans-serif;
    font-size: 40px;
    margin-top: -1vw;
    margin-bottom: 1vw;
    margin-left: 2vw;
    resize: vertical; 
    min-height: 60%;
    height: fit-content;
}

button {
    font-family: 'Atma', sans-serif;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-left: 30%;
    height: 10%;
    width: 30%;
}