.div-recipe {
    padding-top: 1vw;
    border-radius: 0px 40px 0px 40px;
    background-color:   rgb(51, 51, 51);
    margin: 0;
    margin-top: 25px;
    padding: 0;
    height: 30vw;
    width: 100%;
    display: block;
    color: white;
}

.recipe-img {
    border-radius: 0px 40px 0px 40px;
    float:left;
    width: 35%;
    height: 90%;
    margin: 1.5%;
    padding: 0;
}

.recipe-text {
    font-size: 150%;
    float:right;
    height: 100%;
    width: 60%;
    overflow: scroll;
}

.recipe-text::-webkit-scrollbar {
    display: none;
}

.czynnosci {
    float: left;
    width: 50%;
    margin: 5%;
    margin-top: 0%;
}

.skladniki {
    float: left;
    width: 40%;
}

.recenzje {
    padding-bottom: 2vw;
}