<div class="div-block">
    <img class="recipe-img" [src]="this.recipeService.photoURL+this.recipeService.currentRecipe.photoName">
    <div class="recipe-text">
        <p class="report-recipe" (click)="reportRecipe()">Zgłoś przepis</p>
        <div>
            <h2>{{getRecipeName()}}</h2>
            <h4>
                {{getRecipeDescription()}}
            </h4>
        </div>
        <div style="float: left;">
            <h4 style="color: white;">Autor: {{getRecipeAuthor()}}</h4>
            <h4>Ocena: {{getRecipeRating()}} <svg xmlns="http://www.w3.org/2000/svg" width="5%" heigth="auto" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg></h4>
            <h4>Data dodania: {{getRecipeDate()}}</h4>
        </div>

    </div>
</div>

<div class="div-recipe">
    <div class="czynnosci">
        <h2>Czynności:</h2>
        <div *ngFor="let item of this.recipeService.currentRecipeActions">
            <ul>
              <li>
                  <a>{{item.kolejnosc_w_przepisie}}. {{item.opis}}</a>
              </li>
            </ul>
        </div>
    </div>
    <div class="skladniki">
        <h2>Składniki:</h2>
        <div *ngFor="let item of this.recipeService.currentRecipeIngredients">
            <ul style="list-style-type:square;">
              <li>
                  <a>{{item.skladnik_nazwa}} - {{item.ilosc}} {{item.jednostka_nazwa}}</a>
              </li>
            </ul>
        </div>
    </div>
</div>



<div class="div-review">
    <h2 style="margin-left: 2vw; padding-top: 1vw;">Dodaj recenzje:</h2>
    <div style="display: flex; min-height: 10vw;">
        <textarea id="textArea" class="textarea" name="ActionText" placeholder="Komentarz" maxlength=255 [(ngModel)]="inputComment"> </textarea>
        <input id="inputIngredients" type="number" class="input-review" placeholder="Ocena" min="0" max="10" [(ngModel)]="inputRating" oninput="this.value = Math.abs(this.value)">
        <button class="button-review" [disabled]="inputComment === ''" (click)="postReview()">Dodaj</button>
    </div>
</div>
<div style="float: left; clear: both;">
    <ul *ngFor="let item of this.recipeService.currentReviews" style="background-color: #515151;">
        <li>Autor recenzji : {{item.uzytkownik_nazwa_uzytkownika}}</li>
        <li>Ocena : {{item.ocena}} <svg xmlns="http://www.w3.org/2000/svg" width="5%" heigth="auto" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg></li>
        <li>Komentarz : {{item.komentarz}} </li>
    </ul>
</div>

