.div-recipe {
    padding-top: 1vw;
    border-radius: 0px 40px 0px 40px;
    background-color:   rgb(51, 51, 51);
    margin: 0;
    margin-top: 25px;
    padding: 0;
    min-height: 30vw;
    height: auto;
    width: 100%;
    display: flex;
    color: white;
}

.div-block {
    padding-top: 1vw;
    border-radius: 0px 40px 0px 40px;
    background-color:   rgb(51, 51, 51);
    margin: 0;
    margin-top: 25px;
    padding: 0;
    min-height: 30vw;
    height: 30vw;
    width: 100%;
    display: flex;
    color: white;
}

.recipe-img {
    border-radius: 0px 40px 0px 40px;
    float:left;
    width: 40%;
    height: auto;
    margin: 1.5%;
    padding: 0;
}

.recipe-text {
    font-size: 150%;
    float:right;
    height: auto;
    width: 60%;
    overflow: scroll;
}

.recipe-text::-webkit-scrollbar {
    display: none;
}

.czynnosci {
    float: left;
    width: 46%;
    margin: 2%;
    margin-right: 0;
    margin-top: 0%;
    height: auto;
    overflow: scroll;
}

.skladniki {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 50%;
}

.recenzje {
    padding-bottom: 2vw;
}

ul {
    max-width: 90%;
    list-style-type: none;
}

a {
    font-size: 200%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.czynnosci::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.czynnosci {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }