.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  ul {
    list-style-type: none;
    margin-top: 1vw;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
  }
  
  li {
    float: left;
    height: 4vw;
    width: 100%;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    font-size: 2vw;
    text-align: center;
    height: 90%;
    padding-left: 1vw;
    padding-top: 0.5vw;
    text-decoration: none;
  }

  .button-delete {
    float: right;
    border-radius: 10px;
    cursor: pointer;
    object-fit:cover;
    width: 10vw; 
    height: 90%;
    margin: auto;
    margin-right: 0.5vw;
    margin-top: 0.25vw;
    padding: auto;
    background-color: red;
    font-family: 'Atma', sans-serif;
    font-size: 2vw;
    color: white;
  }

  .button-edit {
    float: right;
    border-radius: 10px;
    cursor: pointer;
    object-fit:cover;
    width: 10vw; 
    height: 90%;
    margin: auto;
    margin-right: 0.5vw;
    margin-top: 0.25vw;
    padding: auto;
    background-color: green;
    font-family: 'Atma', sans-serif;
    font-size: 2vw;
    color: white;
  }