<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
  <div class="header">
    <img src="./assets/logo.gif" (click)="goHomeSite()"/>
    <a>Przepisy na każdą porę dnia!</a>
  </div>
    <div class="container">
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Strona główna</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" style="float:right" *ngIf="userService.czy_zalogowany !== true">
            <a class="nav-link text-dark" [routerLink]="['/register']">Zarejestruj</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" style="float:right" *ngIf="userService.czy_zalogowany !== true">
            <a class="nav-link text-dark" [routerLink]="['/login']">Zaloguj</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userService.czy_zalogowany === true">
            <a class="nav-link text-dark" [routerLink]="['/my-recipes']">Moje przepisy</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userService.czy_zalogowany === true">
            <a class="nav-link text-dark" [routerLink]="['/my-account']">Moje konto</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userService.czy_zalogowany === true">
            <a class="nav-link text-dark" [routerLink]="['/create-recipe']">Stwórz przepis</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userService.user.czy_admin != 0">
            <a class="nav-link text-dark" [routerLink]="['/recip-notified']">Zgłoszone przepisy</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userService.user.czy_admin != 0">
            <a class="nav-link text-dark" [routerLink]="['/recip-notified']">Zgłoszone recenzje</a>
          </li>
          <li class="nav-item" style="float:right" *ngIf="userService.czy_zalogowany === true">
            <a class="nav-link text-dark" [routerLink]="['/']" (click)="userService.logout()">Wyloguj</a>
          </li>
          <li class="nav-item" style="float:right" *ngIf="userService.czy_zalogowany === true">
            <a class="nav-link text-dark" >Użytkownik:{{userService.user.nazwa_uzytkownika}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
