.div-login {
    width: 50%;
    min-height: 20vw;
    margin-top: 1vw;
    margin-left: 25%;
    padding: auto;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 150%;
    border-radius: 40px 40px 40px 40px;
}

label {
    margin: auto;
    padding-top: 2vw;
    width: 60%;
    height: 20%;
    display: block; 
    color: white;
}

input {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 50px;
    font-family: 'Atma', sans-serif;
    font-size: 40px;
}

button {
    margin-top: 2vw;
    border-radius: 10px 10px 10px 10px;
    width: 30%;
    height: 50px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}