.div-login {
    height: auto;
    width: 50%;
    min-height: 20vw;
    margin-top: 1vw;
    margin-left: 25%;
    padding: auto;
    padding-bottom: 1vw;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 2vw;
    border-radius: 40px 40px 40px 40px;
}

.login-info{

  font-size:1.5vw;
  color:#fd0606;
  font-weight:bold;
  font-style:italic;
  text-align: center;

}


label {
    margin: auto;
    padding-top: 2vw;
    width: 60%;
    height: 20%;
    display: block;
    color: white;
}

input {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 45%;
    font-family: 'Atma', sans-serif;
    font-size: 2vw;
}

button {
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 10px 10px 10px 10px;
    width: 30%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Atma', sans-serif;
    font-size: 2vw;
}
