<div class="div-login">
  <div>
    <label>
      Nazwa użytkownika: <br><input id="login" type="text" 
        [(ngModel)]="login" required/>
    </label>
  </div>
  
  <div>
    <label>
      Hasło: <br><input id="haslo" type="password" 
      [(ngModel)]="haslo" required/>
    </label>
  </div>
  
  <div>
    <button type="submit" (click)='Login()' [disabled]="login === '' || haslo === ''">Zaloguj</button>
  </div>
  
  
  <div *ngIf="userService.czy_zalogowany == true"> 
        {{ goHomeSite() }}
  </div>
</div>
