<body>
  <div id="wrapper">
    <div id="header">
    <p>Pavel Design</p>
    </div>
    <div id="contentwrapper">
    <div id="content">
    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus     imperdiet nulla scelerisque bibendum. Praesent eu tempus dolor, vel venenatis purus.</p>
    </div>
    </div>
    </div>

    <footer>
        <p>© Pavel Design 2016  |  Photography, design and website construction by Pavel Design 2016</p>
        </footer>

</body>
