.div-title {
  margin-top: 1vw;
  padding: 0;
  background-color: #333;
  border-radius: 10px;
  color: white;
  font-size: 2vw;
  width: 17%;
  padding-left: 1vw;
  padding-top: 0.5vw;
}


ul {
  list-style-type: none;
  margin-top: 1vw;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: right;
  min-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

button {
  border-radius: 10px 10px 10px 10px;
  height: auto;
  width: 30%;
  float: right;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  cursor: pointer;
  font-family: 'Atma', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5vw;
}

.nieropatrzone {
  background-color: rgb(180, 0, 0);
  border-radius: 10px 10px 10px 10px;
  height: 100%;
  min-width: 5%;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  cursor: pointer;
  font-family: 'Atma', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5vw;
  margin-top: auto;
  margin-bottom: auto;
}

.rozpatrzone {
  background-color: rgb(0, 180, 39);
  border-radius: 10px 10px 10px 10px;
  height: 100%;
  min-width: 5%;
  float: right;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  cursor: pointer;
  font-family: 'Atma', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5vw;

}


.div-left-report {
  float: left;
  height: 100%;
  width: 60%;
}

.div-right-report {
  float: right;
  width: 40%;
  height: 100%;
  margin-left: 58%;
  margin-bottom: auto;
  margin-top: 0px;
  position: absolute;
}

li a{
  font-family: 'Atma', sans-serif;
  font-size: 30px;
  color: white;
  padding-left: 20px;
  display: block;
}