.div-recipe {
    float: right;
    width: 72%;
    height: auto;
    margin-top: 1vw;
}

.div-filters {
    background-color:   #333333;
    border-radius: 40px 40px 40px 40px;
    float: left;
    padding: 0;
    margin-top: 1vw;
    margin-right: 2%;
    width: 25%;
    height: 50vw;
    color: white;
}

.img-recipe {
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    display: block;
    object-fit:cover;
    width: 100%; 
    margin: auto;
    padding: auto;
}

.recipe-text {
    float: left;
    max-width: 75%; 
    width: fit-content;
    margin: auto;
    padding: auto;
    color: white;
    font-size: 400%;
}

.recipe-rating {
    float: right;
    max-width: 20%;
    margin: auto;
    padding: auto;
    color: white;
    font-size: 400%;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    columns: 2;
    width: auto;
    -webkit-columns: 2;
    -moz-columns: 2;
}

li {
    border-radius: 30px 30px 30px 30px;
    float: left;
    width: 100%;
    height: 30vw;
    margin-right: 0;
    margin-bottom: 1vw;
    background-color:   #333333;
}