.div-recipe {
    float: left;
    width: 72%;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
}

.div-filters {
    background-color:   #333333;
    border-radius: 40px 40px 40px 40px;
    float: left;
    padding: 0;
    margin-top: 1vw;
    margin-right: 2%;
    width: 25%;
    height: auto;
    color: white;
    overflow: auto;

}

.img-recipe {
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    object-fit:cover;
    width: 100%;
    max-height: 80%;
    height: auto;
    margin: auto;
    padding: auto;


}

.recipe-text {
    float: left;
    width:80%;
    max-height: 25%;
    width: fit-content;
    margin: auto;
    padding: auto;
    padding-left: 1vw;
    color: white;
    font-size: 2vw;
    overflow: scroll;
}

.recipe-text::-webkit-scrollbar {
    display: none;
}

.recipe-rating {
    float: right;
    width: 20%;
    margin: auto;
    padding: auto;
    color: white;
    font-size: 2vw;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
}

li {
    border-radius: 30px 30px 30px 30px;
    float: left;
    display: inline;
    width: 45%;
    height: 20vw;
    margin-left: 5%;
    margin-bottom: 1vw;
    background-color:   #333333;
}

.li-category {
    float: left;
    width: 90%;
    height: auto;
    margin-top: auto;
    margin-left: 10%;
    margin-bottom: 0vw;
    display: block;
    background-color: transparent;
}


p {
    font-size: 2vw;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-size: 2vw;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}


.category-text {
    float: left;
    width:80%;
    max-height: 25%;
    width: fit-content;
    margin: auto;
    padding: auto;
    padding-left: 1vw;
    color: white;
    font-size: 1vw;
}

.category-text:hover {
    text-decoration: underline;
    cursor: pointer;
}
