<div class="div-register">
    <div>
      <label>
        Nazwa użytkownika: <input id="nazwa_uzytkownika" type="text" value={{this.userService.user.nazwa_uzytkownika}}/>
      </label>
    </div>
  
    <div>
      <label>
        Imię: <input id="imie" type="text" value={{this.userService.user.imie}}/>
      </label>
    </div>
  
    <div>
      <label>
        Nazwisko: <input id="nazwisko" type="text" value={{this.userService.user.nazwisko}}/>
      </label>
    </div>
  
    <div>
      <label>
        Hasło: 
        <div style="display: flex;">
            <input class="password-input" id="haslo" [type]="hidePassword ? 'password' : 'text'" value={{this.userService.user.haslo}} />
            <button class="password-button" (click)="showPassword()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg></button>
        </div>
      </label>
    </div>
  
    <div>
      <label>
        Telefon*: <input id="telefon" type="number" value={{this.userService.user.telefon}}/>
      </label>
    </div>
  
    <div>
      <label>
        E-mail*: <input id="mail" type="text" value={{this.userService.user.mail}}/>
      </label>
    </div>
  
    <div style="padding-bottom: 3vw;">
      <button type="submit">Zapisz</button>
    </div>
  </div>