<div *ngIf="registrationResult == false" class="div-register">
  <div>
    <label>
      Nazwa użytkownika: <input id="nazwa_uzytkownika" type="text" placeholder="Nazwa użytkownika"
      [(ngModel)]="nazwa_uzytkownika" required/>
      <div class="login-info" *ngIf="registrationStatus == 404">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        Podana nazwa użytkownika jest zajęta!
      </div>
    </label>
  </div>

  <div>
    <label>
      Imię: <input id="imie" type="text" placeholder="Imię"
      onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
      [(ngModel)]="imie" required />
    </label>
  </div>

  <div>
    <label>
      Nazwisko: <input id="nazwisko" type="text" placeholder="Nazwisko"
      onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
      [(ngModel)]="nazwisko" required/>
    </label>
  </div>

  <div>
    <label>
      Hasło: <input id="haslo" type="password" placeholder="Hasło"
      [(ngModel)]="haslo" required/>
    </label>
  </div>

  <div>
    <label>
      Powtórz Hasło: <input id="powtorzHaslo" type="password" placeholder="Hasło"
      [(ngModel)]="powtorzHaslo" required/>
      <div class="login-info" *ngIf="checkPasswords() == false">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        Podane hasła są różne!
      </div>
    </label>
  </div>

  <div>
    <label>
      Telefon*: <input id="telefon" type="number" placeholder="To pole jest opcjonalne"
      [(ngModel)]="telefon"/>
    </label>
  </div>

  <div>
    <label>
      E-mail*: <input id="mail" type="text" placeholder="To pole jest opcjonalne"
      [(ngModel)]="mail"/>
      <div class="login-info" *ngIf="checkMail() == false">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        Podane mail jest nieprawidłowy!
      </div>
    </label>
  </div>

  <div style="padding-bottom: 3vw;">
    <button type="submit" (click)='Register()' [disabled]="nazwa_uzytkownika === '' || imie === '' || nazwisko === '' || haslo === '' || !checkPasswords()">Zarejerestruj</button>
  </div>
</div>


<div *ngIf="registrationResult == true" class="div-register">
  Rejestracja zakończona pomyślnie!

</div>
