<div class="div-register">
  <div>
    <label>
      Nazwa użytkownika: <input id="nazwa_uzytkownika" type="text" placeholder="Nazwa użytkownika"
      [(ngModel)]="nazwa_uzytkownika" required/>
      <div *ngIf="registrationStatus == 404"> 
        <a>Podana nazwa użytkownika jest zajęta!</a>
      </div>
    </label>
  </div>

  <div>
    <label>
      Imię: <input id="imie" type="text" placeholder="Imię"
      onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
      [(ngModel)]="imie" required />
    </label>
  </div>

  <div>
    <label>
      Nazwisko: <input id="nazwisko" type="text" placeholder="Nazwisko"
      onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
      [(ngModel)]="nazwisko" required/>
    </label>
  </div>

  <div>
    <label>
      Hasło: <input id="haslo" type="password" placeholder="Hasło"
      [(ngModel)]="haslo" required/>
    </label>
  </div>

  <div>
    <label>
      Powtórz Hasło: <input id="powtorzHaslo" type="password" placeholder="Hasło"
      [(ngModel)]="powtorzHaslo" required/>
      <div *ngIf="checkPasswords() == false"> 
        <a>Podane hasła są różne!</a>
      </div>
    </label>
  </div>

  <div>
    <label>
      Telefon*: <input id="telefon" type="number" placeholder="To pole jest opcjonalne"
      [(ngModel)]="telefon"/>
    </label>
  </div>

  <div>
    <label>
      E-mail*: <input id="mail" type="text" placeholder="To pole jest opcjonalne"
      [(ngModel)]="mail"/>
      <div *ngIf="checkMail() == false"> 
        <a>Podane mail jest nieprawidłowy!</a>
      </div>
    </label>
  </div>

  <div style="padding-bottom: 3vw;">
    <button type="submit" (click)='Register()' [disabled]="nazwa_uzytkownika === '' || imie === '' || nazwisko === '' || haslo === '' || !checkPasswords()">Zarejerestruj</button>
  </div>
</div>

<div *ngIf="registrationResult == true"> 
  <a>Rejestracja zakończona pomyślnie!</a>
  {{goLoginSite()}}
</div>